<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='izlasitasgramatas.css') }}">
</head>
<body>
<div class="headline">
    <h2><a href="/">Virtuālā Bibliotēka</a></h2>
</div>
<div class="sebar">
    <strong><a href="{{ url_for('manasgramatas') if session['user_id'] else url_for('login') }}">Manas Grāmatas</a></strong>
    <div class="hover">
        <h4>Pārlūkot</h4>
        <div class="sleptais">
            <div class="izveles">
            <div class="pirmais">
            <p>
            <h3>Daiļliteratūra</h3>
            <h6>> <a href="">Folklora</a></h6>
            <h6>> <a href="">Dzeja</a></h6>
            <h6>> <a href="">Romāni</a></h6>
        </p>
        </div>
    
        <div class="otrais">
         <p>
        <h3>Valodas Mācību Līdzekļi</h3>
        <h6>> <a href="">Latviešu valoda</a></h6>
        <h6>> <a href="">Angļu valoda</a></h6>
        <h6>> <a href="">Krievu valoda</a></h6>
        <h6>> <a href="">Citas valodas</a></h6>
         </p>
        </div>
 
    </div>
    </div>
    </div>
    <form id="form" role="search">
    <input type="search" id="query" name="q" placeholder="Meklēt.." aria-label="Meklēt">
    <button><svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg></button>
    </form>
    
    <div class="hover2">
    <h4><a href="/profils">👤 Profils</a></h4>
    <div class="sleptais2">
         <div class="izveles2">
           <p>
            <h6>> <a href ="">Lietotāja konts</a></h6>
            <h6>> <a href="/login">Pieslēgties</a></h6>
           </p>
         </div>
    </div>
    </div>
    <button id="theme-toggle"><h4>Tumšais režīms</h4></button> 
</div>
<div class="middle">
    <h4>Izlasītās grāmatas</h4>
    <hr style="width: 100%; height: 0.5px; background-color: lightgray; border: none;">
    <div class="top">
        <h6>Nosaukums</h6> 
        <h6>Autors</h6>
        <h6>Paņemts </h6>
    </div>
    <div class="managramata">
    {% if returned_books %}
        {% for book in returned_books %}
          <div class="book">
                <p>{{ book[0] }}</p>
                <p>{{ book[1] }}</p>
                <p>{{ book[2] }}</p>  
            </div>    
        {% endfor %}
    {% else %}
        <p>Nav neviena izlasīta grāmata.</p>
    {% endif %}
   </div> 
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
